html
  head
    title Voting App
    meta(name='description', content='A cool thing made with HyperDev')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/public/style.css')
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap-grid.css")
  header
    div(class="container-fluid")
      div(class="row header")
        div(class="col-md-2")
          h4 Voting App
        div(class="col-md-6")
        // if logged in display logout. if logged in display register
        // if status = authenticated display logout. else display profile.
        if authenticated
          div(class="col-md-2")
            a(href='/logout')
              p Logout
            a(href='/profile')
              p Profile
        else
          div(class="col-md-2")
            a(href='/register')
              p Register/Login

  body
    h4 Homepage
    script(src='https://code.jquery.com/jquery-2.2.1.min.js', integrity='sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=', crossorigin='anonymous')
    script(src='/public/client.js')